.navbar {
    background-color: #001f3f; /* Azul marino */
}

.navbar .navbar-nav .nav-link {
    color: #ffffff !important; /* Letras blancas */
}

.footer {
    background-color: #001f3f; /* Azul marino */
    color: #ffffff; /* Letras blancas */
}
#titulo{
    color: #001f3f;
}
#boton{
    background-color: #001f3f;
}
#button{
    background-color: #001f3f;

}
#h2{
    color: #001f3f;

}
#empresas{
    color: #001f3f;
}