.navbar {
    background-color: #001f3f; /* Azul marino */
}

.navbar .navbar-nav .nav-link {
    color: #ffffff !important; /* Letras blancas */
}

.footer {
    background-color: #001f3f; /* Azul marino */
    color: #ffffff; /* Letras blancas */
}
#titulo{
    color: #001f3f;
}
#boton{
    background-color: #001f3f;
}
#button{
    background-color: #001f3f;

}
#h2{
    color: #001f3f;

}
#empresas{
    color: #001f3f;
}
#form{
    background-color:#ECECEC ;
}
#ing{
    color: #001f3f;
}
#servicios{
    color: #001f3f;
}
.navbar-toggler {
    background-color: transparent; /* Fondo transparente */
    border: none; /* Quita el borde */
}
/* Estilo para cambiar el color de las líneas del ícono de hamburguesa */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30' height='30'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
body{
    background-color: #ECECEC;
}
/* mapa */
.map-container {
    position: relative;
    padding-bottom: 56.25%; /* Proporción 16:9 */
    height: 0;
    overflow: hidden;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* titulo */
@keyframes animacion {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.titulo-animado {
    animation: animacion 1.3s ease-out forwards;
            color: #001f3f;
            font-family: 'Arial', sans-serif;
            font-size: 36px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
            letter-spacing: 1px;
            margin-top: 20px;
}
@keyframes animacion {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#titulo {
    animation: animacion 1.3s ease-out forwards;
    color: #001f3f;
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    margin-top: 20px;
}